<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @results.count %> Results</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @results.each_with_index do |result, n| %>
    <div class="row" id="<%="result-#{n+1}"%>">
      <%= image_tag(result.image_url) %>
      <h3>Name: <%= result.name %></h5>
      <h5>SKU: <%= result.sku %></h5>
      <h5>Customer average review: <%= result.avg_review %></h5>
      <h5>Sale price: $<%= result.sale_price %></h5>
      <p>
        Short description: <%= result.short_desc %>
      </p>
    </div>
  <% end %>
</div>
