<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @results.count %> Results</h1>
    </div>
  </div>
  <div class="row"></div>
  <div class="results">
    <% @results.each_with_index do |result, n| %>
      <div class="row" id="<%="result-#{n+1}"%>">
        <div class="col-md-4">
          <%= image_tag result.image_url, class: "result-img"%>
        </div>
        <div class="col-md-8">
          <h3>Name: <%= result.name %></h5>
          <h5>SKU: <%= result.sku %></h5>
          <h5>Customer average review: <%= result.avg_review %></h5>
          <h5>Sale price: $<%= result.sale_price %></h5>
          <p>
            Short description: <%= result.short_desc %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
